.bounce-me {
    color: #ff5e00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2em;
    animation-name: bounceIn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    text-align: center;
    margin-top: 100px;
  }
  
  @keyframes bounceIn {
    from {
      transform: scale(-1.2);
      opacity: 0;
    }
  
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
  
    to {
      transform: scale(1);
    }
  }